project_id               = "your-gcp-project-id"
region                   = "us-central1"
app_name                 = "iracing-team-planner"

# Supabase
supabase_access_token    = "sbt_..."
supabase_organization_id = "org_..."
supabase_db_password     = "your-strong-password"
supabase_region          = "us-west-1"

# NextAuth
nextauth_secret          = ""  # generate with 'npm run generate-secret'
nextauth_url             = ""  # Optional, usually inferred or set to custom domain

# Prisma
prisma_encryption_key    = ""  # generate with 'npx cloak generate'
discord_id               = "your-discord-client-id"
discord_secret           = "your-discord-client-secret"
discord_bot_token        = "your-discord-bot-token"
discord_guild_id         = "your-discord-server-id"
discord_admin_role_ids   = "role_id1,role_id2" # Comma-separated admin role IDs
discord_notifications_channel_id = "your-discord-channel-id"

 # iRacing
 iracing_username         = "your-iracing-email"
 iracing_password         = "your-iracing-password"
 iracing_client_id        = "your-iracing-data-api-client-id"     # Optional if only using mock data
 iracing_client_secret    = "your-iracing-data-api-client-secret" # Optional if only using mock data
